<h1>{{title}}</h1>

<table>
    <thead>
        <th>Type</th>
        <th>Value</th>
    </thead>
    <tbody>
        <tr>
            <td>ID</td>
            <td>{{student.id}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{student.name}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{student.gender}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{student.address}}</td>
        </tr>
    </tbody>
</table>

<a href="#/students"> Back To Students</a>